body {
  background: #f3f3f3;
}

.app {
  text-align: center;
}
.card-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 90vh;
  flex-wrap: wrap;
  align-content: center;
}

.card-list .card {
  margin: 20px 0;
  cursor: pointer;
}

.card-list .card:hover {
  box-shadow: 4px 4px 5px 0px #a9a9a999;
  transition: all 0.2s ease-in-out;
}

.card-list .card-img-top {
  padding: 5px;
  border-radius: 10px 10px 0 0;
}

.dropdown-toggle::after,
.nav-item.dropdown {
  display: none;
}

@media only screen and (max-width: 600px) {
  .nav-item.dropdown {
    display: block;
  }
  .dropdown-menu.show {
    margin-left: -150px;
  }
  .me-auto.navbar-nav {
    display: none;
  }
  .sales-container.container {
    width: 100%;
  }
}
.sales-container.container {
  width: 78%;
}

.sales-container.container,
.manage-service-container.container {
  margin: 30px auto 30px auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  border: 1px #cdcdcd solid;
}

.sales-container .serv-category {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: wrap;
}

.form-check-label {
  display: flex;
  justify-content: space-between;
}

.form-check-label input {
  margin-left: 10px;
  text-align: center;
  width: 60px;
}

.mr-10 {
  margin-right: 10px;
}

.sales-display {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.sales-display .total-summary {
  margin: 25px auto 25px auto;
  min-width: 250px;
}

.order-amount {
  justify-content: space-between;
  flex-wrap: wrap;
}

.manage-service-container .manage-category-list .btn {
  font-size: 10px;
}

.manage-service-container .manage-category-list {
  display: flex;
  align-items: baseline;
}

.manage-service-container .service-name {
  font-size: 12px;
  word-break: break-word;
}
